body {

  background-image: -webkit-linear-gradient(bottom right, #772f1a 0%, #f2a65a 74%);
  background-image: -o-linear-gradient(bottom right, #772f1a 0%, #f2a65a 74%);
  background-image: linear-gradient(to top left, #772f1a 0%, #f2a65a 74%);
  font-family: sans-serif;

}
a:link {
  color: black;
  text-decoration: none;

}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
  color: black;
}

#maincontent{
  display: block;
  background-color: #F5FDB0;
  border-radius: 20px;
  padding: 10px;
  position: relative;
  left: 10%;
  width: 79%;
}
.dropdown{
  position: relative;
  display: inline-block;
  border-radius: 24px;
}
.drpcontent{
  border-radius: 24px;
  display: none;
  position: absolute;
  top: 50px;
  background-color: #F5FDB0;
  min-width: 160px;
  padding: 5px;
  z-index: 1;
}
.drpcontent a{
  color: black;
  padding: 5px;
  display: block;
}

.drpcontent a:hover
{
  border-radius: 24px;
  background-color: #9ea376;
}
.dropdown:hover .drpcontent{
  display: block;
}


.menu {
  width: 79%;
  flex: 1;
  border-radius: 24px;
  position: relative;
  left: 10%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  background: #659999;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f4791f, #659999);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f4791f, #659999); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.menu > div {
  padding: 5px;
  width: 40%;
  padding-right: 7rem;
}
.minibox{
  position: relative;
  left: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: : 20px;
}


.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer{
display: block;
background-color: black;
padding: 10px;
position: relative;
left: 10%;
width: 79%;
border-radius: 20px;
height: 400px;

}
.ruler{
  border-left: 6px solid white;
  height: 90%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 20px;
  border-radius: 10px;
}
input{
  text-align: center;
  border-radius: 50px;
}
textarea{
  text-align: center;
  border-radius: 50px;
}
.contact{
  text-align: center;
  width: autopx;
  display: box;
  background: black;
  position: absolute;
  right: 15%;
  top: 10px;
  border-radius: 24px;
}
.contact h1{
    text-align: center;
    ;
    text-transform: uppercase;
    font-weight: 900;
}
.contact input[type = "text"],.contact input[type = "email"],.contact textarea{
  border:0;
  background: none;
  display: block;
  margin: 4px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
}
.contact input[type = "text"]:focus,.contact input[type = "email"]:focus,.contact textarea:focus{
  transition: 0.5s;
  width: 280px;
  border-color: #2ecc71;
}
.contact input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.contact input[type = "submit"]:hover{
  background: #2ecc71;
}
